<a href="https://colab.research.google.com/github/faro7ah/python_project/blob/main/Copy_of_Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns
plt.rcParams['figure.figsize']=(12,7)
import numpy as np
import statsmodels.api as sms;
import json

In [ ]:
# Read in the data
tmdb_5000_movies_df =pd.read_csv('tmdb_5000_movies.csv')
tmdb_5000_credits_df=pd.read_csv('tmdb_5000_credits.csv')

In [ ]:
#Determine json columns
json_cols = ['genres', 'keywords', 'production_companies', 'spoken_languages', 'production_countries']
#iterate json colmns then load it as json
for col in json_cols:
        tmdb_5000_movies_df_1[col] = tmdb_5000_movies_df_1[col].apply(json.loads)
#empty dataframe to  assign Id and genre's name
columns = ['id', 'name']
tmdb_movie_genres = pd.DataFrame(columns=columns)
#iterat tmdb_5000_movies_df_1 to iterate genre's rows
for i, x in tmdb_5000_movies_df_1.iterrows():
    #iterate for genre's. and then extract genres ID and name.
    for i in x['genres']:
        key_list=list(i.keys())
        val_list=list(i.values())