<a href="https://colab.research.google.com/github/faro7ah/python_project/blob/main/weekend_p.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# Project: Investigate a Dataset (TMDB 5000 Movie Dataset)

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

In [ ]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns
plt.rcParams['figure.figsize']=(12,7)
import numpy as np
import statsmodels.api as sms;
import seaborn as sns

In [ ]:
# Read in the data
tmdb_5000_movies_df =pd.read_csv('C:/Users/farah/Desktop/tmdb_5000_movies.csv')
tmdb_5000_credits_df=pd.read_csv('C:/Users/farah/Desktop/tmdb_5000_credits.csv')

In [ ]:
tmdb_5000_movies_df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [ ]:
tmdb_5000_credits_df.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
tmdb_5000_movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [ ]:
tmdb_5000_movies_df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [ ]:
tmdb_5000_movies_df.genres

0       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1       [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3       [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
                              ...
4798    [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4799    [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4800    [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4801                                                   []
4802                  [{"id": 99, "name": "Documentary"}]
Name: genres, Length: 4803, dtype: object

In [ ]:
tmdb_5000_movies_df.keywords

0       [{"id": 1463, "name": "culture clash"}, {"id":...
1       [{"id": 270, "name": "ocean"}, {"id": 726, "na...
2       [{"id": 470, "name": "spy"}, {"id": 818, "name...
3       [{"id": 849, "name": "dc comics"}, {"id": 853,...
4       [{"id": 818, "name": "based on novel"}, {"id":...
                              ...
4798    [{"id": 5616, "name": "united states\u2013mexi...
4799                                                   []
4800    [{"id": 248, "name": "date"}, {"id": 699, "nam...
4801                                                   []
4802    [{"id": 1523, "name": "obsession"}, {"id": 224...
Name: keywords, Length: 4803, dtype: object

In [ ]:
tmdb_5000_movies_df.production_countries

0       [{"iso_3166_1": "US", "name": "United States o...
1       [{"iso_3166_1": "US", "name": "United States o...
2       [{"iso_3166_1": "GB", "name": "United Kingdom"...
3       [{"iso_3166_1": "US", "name": "United States o...
4       [{"iso_3166_1": "US", "name": "United States o...
                              ...
4798    [{"iso_3166_1": "MX", "name": "Mexico"}, {"iso...
4799                                                   []
4800    [{"iso_3166_1": "US", "name": "United States o...
4801    [{"iso_3166_1": "US", "name": "United States o...
4802    [{"iso_3166_1": "US", "name": "United States o...
Name: production_countries, Length: 4803, dtype: object

In [ ]:
tmdb_5000_movies_df_1.genres[0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [ ]:
tmdb_5000_movies_df_1 = tmdb_5000_movies_df.copy()

In [ ]:
tmdb_5000_movies_df_1['genres']=tmdb_5000_movies_df_1['genres'].str.strip('[[{}]]')

In [ ]:
tmdb_5000_movies_df_1.genres = tmdb_5000_movies_df_1.genres.str.replace("}","").str.replace("{","").str.replace(":","")
#.str.replace(',',"")

In [ ]:
tmdb_5000_movies_df_1.genres[0]

'"id" 28, "name" "Action", "id" 12, "name" "Adventure", "id" 14, "name" "Fantasy", "id" 878, "name" "Science Fiction"'

In [ ]:
data = pd.DataFrame(tmdb_5000_movies_df_1.genres)

In [ ]:
tmdb_5000_movies_df_1['genres'].str.split(' ', expand=True).head(50)

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,"""id""","28,","""name""","""Action"",","""id""","12,","""name""","""Adventure"",","""id""","14,",...,None,None,None,None,None,None,None,None,None,None
1,"""id""","12,","""name""","""Adventure"",","""id""","14,","""name""","""Fantasy"",","""id""","28,",...,None,None,None,None,None,None,None,None,None,None
2,"""id""","28,","""name""","""Action"",","""id""","12,","""name""","""Adventure"",","""id""","80,",...,None,None,None,None,None,None,None,None,None,None
3,"""id""","28,","""name""","""Action"",","""id""","80,","""name""","""Crime"",","""id""","18,",...,None,None,None,None,None,None,None,None,None,None
4,"""id""","28,","""name""","""Action"",","""id""","12,","""name""","""Adventure"",","""id""","878,",...,None,None,None,None,None,None,None,None,None,None
5,"""id""","14,","""name""","""Fantasy"",","""id""","28,","""name""","""Action"",","""id""","12,",...,None,None,None,None,None,None,None,None,None,None
6,"""id""","16,","""name""","""Animation"",","""id""","10751,","""name""","""Family""",None,None,...,None,None,None,None,None,None,None,None,None,None
7,"""id""","28,","""name""","""Action"",","""id""","12,","""name""","""Adventure"",","""id""","878,",...,None,None,None,None,None,None,None,None,None,None
8,"""id""","12,","""name""","""Adventure"",","""id""","14,","""name""","""Fantasy"",","""id""","10751,",...,None,None,None,None,None,None,None,None,None,None
9,"""id""","28,","""name""","""Action"",","""id""","12,","""name""","""Adventure"",","""id""","14,",...,None,None,None,None,None,None,None,None,None,None
10,"""id""","12,","""name""","""Adventure"",","""id""","14,","""name""","""Fantasy"",","""id""","28,",...,None,None,None,None,None,None,None,None,None,None
11,"""id""","12,","""name""","""Adventure"",","""id""","28,","""name""","""Action"",","""id""","53,",...,None,None,None,None,None,None,None,None,None,None
12,"""id""","12,","""name""","""Adventure"",","""id""","14,","""name""","""Fantasy"",","""id""","28,",...,None,None,None,None,None,None,None,None,None,None
13,"""id""","28,","""name""","""Action"",","""id""","12,","""name""","""Adventure"",","""id""","37,",...,None,None,None,None,None,None,None,None,None,None
14,"""id""","28,","""name""","""Action"",","""id""","12,","""name""","""Adventure"",","""id""","14,",...,None,None,None,None,None,None,None,None,None,None
15,"""id""","12,","""name""","""Adventure"",","""id""","10751,","""name""","""Family"",","""id""","14,",...,None,None,None,None,None,None,None,None,None,None
16,"""id""","878,","""name""","""Science","Fiction"",","""id""","28,","""name""","""Action"",","""id""",...,None,None,None,None,None,None,None,None,None,None
17,"""id""","12,","""name""","""Adventure"",","""id""","28,","""name""","""Action"",","""id""","14,",...,None,None,None,None,None,None,None,None,None,None
18,"""id""","28,","""name""","""Action"",","""id""","35,","""name""","""Comedy"",","""id""","878,",...,None,None,None,None,None,None,None,None,None,None
19,"""id""","28,","""name""","""Action"",","""id""","12,","""name""","""Adventure"",","""id""","14,",...,None,None,None,None,None,None,None,None,None,None
20,"""id""","28,","""name""","""Action"",","""id""","12,","""name""","""Adventure"",","""id""","14,",...,None,None,None,None,None,None,None,None,None,None
21,"""id""","28,","""name""","""Action"",","""id""","12,","""name""","""Adventure""",None,None,...,None,None,None,None,None,None,None,None,None,None
22,"""id""","12,","""name""","""Adventure"",","""id""","14,","""name""","""Fantasy""",None,None,...,None,None,None,None,None,None,None,None,None,None
23,"""id""","12,","""name""","""Adventure"",","""id""","14,","""name""","""Fantasy""",None,None,...,None,None,None,None,None,None,None,None,None,None
24,"""id""","12,","""name""","""Adventure"",","""id""","18,","""name""","""Drama"",","""id""","28,",...,None,None,None,None,None,None,None,None,None,None
25,"""id""","18,","""name""","""Drama"",","""id""","10749,","""name""","""Romance"",","""id""","53,",...,None,None,None,None,None,None,None,None,None,None
26,"""id""","12,","""name""","""Adventure"",","""id""","28,","""name""","""Action"",","""id""","878,",...,None,None,None,None,None,None,None,None,None,None
27,"""id""","53,","""name""","""Thriller"",","""id""","28,","""name""","""Action"",","""id""","12,",...,None,None,None,None,None,None,None,None,None,None
28,"""id""","28,","""name""","""Action"",","""id""","12,","""name""","""Adventure"",","""id""","878,",...,None,None,None,None,None,None,None,None,None,None
29,"""id""","28,","""name""","""Action"",","""id""","12,","""name""","""Adventure"",","""id""","53,",...,None,None,None,None,None,None,None,None,None,None
30,"""id""","28,","""name""","""Action"",","""id""","12,","""name""","""Adventure"",","""id""","14,",...,None,None,None,None,None,None,None,None,None,None
31,"""id""","28,","""name""","""Action"",","""id""","12,","""name""","""Adventure"",","""id""","878,",...,None,None,None,None,None,None,None,None,None,None
32,"""id""","10751,","""name""","""Family"",","""id""","14,","""name""","""Fantasy"",","""id""","12,",...,None,None,None,None,None,None,None,None,None,None
33,"""id""","12,","""name""","""Adventure"",","""id""","28,","""name""","""Action"",","""id""","878,",...,None,None,None,None,None,None,None,None,None,None
34,"""id""","16,","""name""","""Animation"",","""id""","10751,","""name""","""Family""",None,None,...,None,None,None,None,None,None,None,None,None,None
35,"""id""","878,","""name""","""Science","Fiction"",","""id""","28,","""name""","""Action"",","""id""",...,None,None,None,None,None,None,None,None,None,None
36,"""id""","878,","""name""","""Science","Fiction"",","""id""","28,","""name""","""Action"",","""id""",...,None,None,None,None,None,None,None,None,None,None
37,"""id""","14,","""name""","""Fantasy"",","""id""","12,","""name""","""Adventure"",","""id""","10751,",...,None,None,None,None,None,None,None,None,None,None
38,"""id""","28,","""name""","""Action"",","""id""","12,","""name""","""Adventure"",","""id""","14,",...,None,None,None,None,None,None,None,None,None,None
39,"""id""","12,","""name""","""Adventure"",","""id""","28,","""name""","""Action"",","""id""","878,",...,None,None,None,None,None,None,None,None,None,None
40,"""id""","16,","""name""","""Animation"",","""id""","10751,","""name""","""Family"",","""id""","12,",...,None,None,None,None,None,None,None,None,None,None
41,"""id""","12,","""name""","""Adventure"",","""id""","28,","""name""","""Action"",","""id""","53,",...,None,None,None,None,None,None,None,None,None,None
42,"""id""","16,","""name""","""Animation"",","""id""","10751,","""name""","""Family"",","""id""","35,",...,None,None,None,None,None,None,None,None,None,None
43,"""id""","28,","""name""","""Action"",","""id""","878,","""name""","""Science","Fiction"",","""id""",...,None,None,None,None,None,None,None,None,None,None
44,"""id""","28,","""name""","""Action""",None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
45,"""id""","28,","""name""","""Action"",","""id""","18,","""name""","""Drama"",","""id""","27,",...,"""name""","""Thriller""",None,None,None,None,None,None,None,None
46,"""id""","28,","""name""","""Action"",","""id""","12,","""name""","""Adventure"",","""id""","14,",...,None,None,None,None,None,None,None,None,None,None
47,"""id""","28,","""name""","""Action"",","""id""","12,","""name""","""Adventure"",","""id""","878,",...,None,None,None,None,None,None,None,None,None,None
48,"""id""","28,","""name""","""Action"",","""id""","10751,","""name""","""Family"",","""id""","14,",...,None,None,None,None,None,None,None,None,None,None
49,"""id""","18,","""name""","""Drama"",","""id""","10749,","""name""","""Romance""",None,None,...,None,None,None,None,None,None,None,None,None,None